<% layout('/layouts/boilerplate') %>
<div class ="row">
    <h1 class="text-center">New Temple</h1>
    <div class="col-md-6 offset-md-3">           <!-- Form validation using no validate, required methods -->
      
        <form action ="/campgrounds" method="POST" novalidate class = "validated-form" enctype="multipart/form-data">  <!-- novalidate allows submit but show empty form -->
            <div class = "mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    LOoks GooDD!
                </div>   <!--make div below each one required-->
            </div>
            <div class = "mb-3">
                <label class="form-label" for="location">location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    LOoks GooDD!
                </div>
            </div>
            

            <!-- <div class = "mb-3">
                <label class="form-label" for="image">Image url</label>
                <input class="form-control" type="text" id="location" name="campground[image]" required>
            </div>
            <div class="valid-feedback">
                LOoks GooDD!
            </div> -->

            <div class="mb-3">
                <label class="form-label" for="price">Special Dharisanam Price</label>
            <div class="input-group">
                <span class="input-group-text" id="price-label">RS.</span>
                <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label"  name="campground[price]" required>
              </div>
            </div>

            <div class = "mb-3">
                <label class="form-label" for="description">Temple History</label>
                <textarea input class="form-control" type="text" id="description" name="campground[description]" required></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Temple open & close Time</label>
            <div class="input-group">
                <span class="input-group-text" id="price-label">Morning</span>
                <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label"  name="campground[time]" required>
                <span class="input-group-text" id="price-label">Afternoon</span>
                <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label"  name="campground[time2]" required>
              </div>
            </div>

            <div class = "mb-3">
                <label class="form-label" for="location">Contact</label>
                <input class="form-control" type="text" id="contact" name="campground[contact]" required>
                <div class="valid-feedback">
                    LOoks GooDD!
                </div>
            </div>

            <div class="mb-3">
                <label for = ""> Upload Images </label>
            <div class="form-file custom-file"> <!--  bootstrap file input -->
                <input type="file" class="form-file-input" id="image" name="image" multiple>
                <label class="form-file-label" for="image">
                    <span class="form-file-text custom-file-label">Choose image(s)...</span>
                    <span class="form-file-button">Browse</span>
                </label>
            </div>
        </div>

            <div class="mb-3">    
                <button class="btn btn-success">Add Temple</button>
            </div>
           
            </form>
            <a href="/campgrounds">All Temples</a>
    
    </div>
</div>


<script> //bootstrap form validation
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.validated-form') //its double check the form

  // Loop over them and prevent submission
  Array.from(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault() //if not valid preventdefault and stop propogation
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
